<h1>This is home</h1>
<br>
<h3><%= link_to 'FTweets', ftweets_path %></h3>
<br>
<h3><%= link_to 'targets', targets_path %></h3>
<h3><%= link_to 'target2s', target2s_path %></h3>
<br>
<h3><%= link_to 'My followers', users_path %></h3>
<br>
<br>
<h3><%=link_to 'Data4EViews', controller: 'static_pages', action: 'd4e' %></h3>
<br>
<br>
<h3><%= link_to 'NNs', controller: 'nns', action: 'base' %></h3>
<br>
<br>
<br>
<br>
<br>
<%= link_to 'Get rets (300x10)', controller: 'static_pages', action: 'rets' %>
<br>
<%= link_to 'Get favs(20)', controller: 'static_pages', action: 'favs' %>
<br>
<%= link_to 'Fix nils in database', controller: 'static_pages', action: 'fixnils' %>
<br>
<br>
<br>
<%= link_to 'Build my followers database', controller: 'static_pages', action: 'buildfollowers'%>

<br>
<br>
<br>
 <%= link_to 'contratos', download_path%>